target
.dart_tool
.cache
.DS_Store
.packages
build
Cargo.lock
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
pubspec_overrides.yaml

!engine_context/dart/android/rust/Cargo.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
